  <div class="mb-4">
    <h2 class="text-center">Welcome</h2>
    <p class="description text-center">
      Please check in to let Dr. dewerd  know you are here.</p>
  </div>
 
<div class="doctor-room-container">

  <div class="video-box">
    <div class="icon-controls">
      <button class="icon-button icon-audio"></button>
      <button class="icon-button icon-video"></button>
    </div>
    <div class="avatar">
      <i class="icon icon-admin"></i>
    </div>
  </div>

  <button class="test-button">Test Audio Video</button>

 


</div>
<div class="input-group mt-3">
  <input type="text" class="form-control" [value]="'Jasont Dewerd'" readonly />
 
  
</div>