<div class="waiting-room-container">
  <div class="video-box">
    <div class="icon-controls">
      <button class="icon-button icon-audio"></button>
      <button class="icon-button icon-video"></button>
    </div>
    <div class="avatar">
      <i class="icon icon-admin"></i>
    </div>
  </div>

  <button class="test-button">Test Audio Video</button>

  <h2>Welcome Dr. dewerd</h2>
  <p class="description">Share this link to invite a participant to your waiting room</p>

  <div class="link-section">
    <input type="text" [value]="'http://maximus.com/2343sdfsd'" readonly />
    <button class="copy">Copy Link</button>
    <button class="dropdown">Via Link &#x25BC;</button>
  </div>
</div>