<ul class="list">
    <li class="justify-content-between">
        <span>Room</span> 
        <span><i class="icon-chat"></i> /child0021</span>
    </li>
    <li class="justify-content-between">
        <span>Location</span> 
        <span><i class="icon-location"></i> Pakistan</span>
    </li>
    <li class="justify-content-between">
        <span>Device</span> 
        <span><i class="icon-device-desktop"></i> Desktop</span>
    </li>
    <li class="justify-content-between">
        <span>OS</span> 
        <span><i class="icon-system-mac"></i> mac OS</span>
    </li>
    <li class="justify-content-between">
        <span>Browser</span> 
        <span><i class="icon-browser-firefox"></i> firefox</span>
    </li>
    <li class="justify-content-between">
        <span>Microphone</span> 
        <span><i class="icon-mute-fill"></i> Off</span>
    </li>
    <li class="justify-content-between">
        <span>Camera</span> 
        <span><i class="icon-video-off-fill"></i> Off</span>
    </li>
</ul>
