<div class="login-page custom-row">


    <div class="col-md-6 login-right" style="margin: 0 auto;">
        <div class="custom-row justify-content-center">
            <div class="col-md-6">
                <app-neon-card>

                    <form [formGroup]="changeForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label>New Password</label>
                            <input type="password" formControlName="password" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                            <div class="invalid-feedback" *ngIf="submitted && f['password'].errors">
                                <div *ngIf="f['password'].errors['required']">Password is required</div>
                                <div *ngIf="f['password'].errors['minlength']">Minimum 6 characters</div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label>Confirm Password</label>
                            <input type="password" formControlName="confirmPassword" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && (f['confirmPassword'].errors || changeForm.errors?.['mismatch']) }" />
                            <div class="invalid-feedback"
                                *ngIf="submitted && (f['confirmPassword'].errors || changeForm.errors?.['mismatch'])">
                                <div *ngIf="f['confirmPassword'].errors?.['required']">Confirmation is required</div>
                                <div *ngIf="changeForm.errors?.['mismatch']">Passwords do not match</div>
                            </div>
                        </div>

                        <div class="text-danger mb-3" *ngIf="changeError">{{ changeError }}</div>

                        <button type="submit" class="submit-btn">Change Password</button>
                    </form>
                </app-neon-card>
            </div>
        </div>
    </div>