<div class="login-page custom-row">

   
    <div class="col-md-6 login-right" style="margin: 0 auto;">
      <div class="custom-row justify-content-center">
        <div class="col-md-6">
        <app-neon-card>
  
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label>Email</label>
                <input type="email" formControlName="email" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
                <div class="invalid-feedback" *ngIf="submitted && f['email'].errors">
                  <div *ngIf="f['email'].errors['required']">Email is required</div>
                  <div *ngIf="f['email'].errors['email']">Invalid email format</div>
                </div>
              </div>
  
              <div class="text-danger mb-3" *ngIf="resetError">{{ resetError }}</div>
  
              <a href="/change-password" type="submit" class="submit-btn">Send Reset Link</a >
            </form>
        </app-neon-card>
          
        </div>
      </div>
    </div>
  </div>
  