

<div class="chat-container chat-panel" >
  <!-- Profile Details -->
  <div class="profile-tile" *ngIf="message">
    <h5>{{ message.name }}</h5>
    <p>Patient</p>
  </div>

  <!-- Chat Header -->
  <div class="chat-header">
    <h6 class="chat-title">Chat  </h6>
  </div>

  <!-- Messages Area -->
  <div class="chat-messages" #messagesContainer >
    <div class="message-group" *ngFor="let group of groupedMessages; trackBy: trackByGroup">
      <div class="message-wrapper"
           *ngFor="let msg of group.messages; trackBy: trackByMessage"
           [ngClass]="{'your-message': msg.sender === 'You', 'other-message': msg.sender !== 'You'}">
        <div class="message-bubble">
          <span class="message-text">{{ msg.text }}</span>
        </div>
        <small class="message-time">{{ msg.timestamp | date:'shortTime' }}</small>
      </div>
    </div>
  </div>

  <!-- Input Area -->
  <div class="chat-input" >
    <div class="input-group">
      <textarea [(ngModel)]="newMessage"
             type="text"
             class="form-control message-input"
             placeholder="Type a message..."
             (keydown.enter)="sendMessage()"></textarea>
      <button (click)="sendMessage()" class="btn ">
        <i class="icon-send"></i>
      </button>
    </div>
  </div>

</div>
<!-- Add a button to toggle chat visibility -->

