<div class="container mt-4">
  <!-- Step 1: Select Doctor -->
  <div *ngIf="step === 1">
    <form #patientForm="ngForm">
      <!-- Department Dropdown -->
      <div class="mb-3">
        <label class="form-label">Select Department</label>
        <select class="form-select form-control" required [(ngModel)]="appointment.department" name="department" (change)="filterDoctors()">
          <option value="">-- Select Department --</option>
          <option *ngFor="let dept of departments" [value]="dept">{{ dept }}</option>
        </select>
      </div>

   

      <!-- Doctor Table -->
    
        <smart-table type="doctors" [data]="filteredDoctors" [actionButtons]="actionButtons" (click)="selectDoctor($event)"></smart-table>
     

      <div class="buttons mt-4">
        <button type="button" class="btn btn-outline-primary" (click)="nextStep()">Next</button>
      </div>
    </form>
  </div>

  <!-- Step 2: Select Date & Time -->
  <div *ngIf="step === 2">
    <form #detailsForm="ngForm">
      <div class="mb-3">
   <app-date-time-picker  [(ngModel)]="appointment.date" name="date"></app-date-time-picker>
      </div>

     

      <div class="buttons mt-4">
        <button type="button" class="btn btn-outline-primary" (click)="prevStep()">Back</button>
        <button type="button" class="btn btn-outline-primary" (click)="nextStep()">Next</button>
      </div>
    </form>
  </div>

  <!-- Step 3: Confirmation -->
  <div *ngIf="step === 3">
   

    
   

    
    <h6 class="mb-3">Confirm Appointment</h6>

    
    <table class="responsive-table">
      <thead>
        <tr>
          <th>Doctor Profile</th>
          <th>Department</th>
          <th>Date</th>
          <th>Time</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of appointments" class="dynamic-row">
          <td>
            <div class="profile-tile">
              <div class="avatar avatar-md">
                <img [src]="appointment.profilePicture" alt="Doctor Image" width="40">
              </div>
              <h5>{{ appointment.name }} 
                <p>{{ appointment.special }}</p>
              </h5>
            </div></td>
          <td>{{ appointment.department }}</td>
          <td>{{ appointment.date }}</td>
          <td>{{ appointment.time }}</td>
          
        
        </tr>
      </tbody>
    </table>
      <div class="buttons mt-4">
        <button type="button" class="btn btn-outline-primary" (click)="prevStep()">Back</button>
        <button type="button" class="btn btn-outline-success" (click)="confirmAppointment()">Confirm</button>
      </div>
    </div>
  </div>

