
.dropdown-menu {
  @include box-style;
  padding: 0;
  li {
    a {
      border-radius: 0;
      color: var(--text-color);
      &:hover {
        background-color: var(--info);
        color: white;
        h5 {
          color: white;
          p {
            color: white;
          }
        }
      }
    }
    &:first-child {
      a {
        border-radius: $round-lg $round-lg 0 0 !important;
      }
    }
    &:last-child {
      a {
        border-radius:0 0 $round-lg $round-lg  !important;
      }
    }
  }
}
.dropdown-item {
    padding: $spacing-md $spacing-sm;
border: $round-lg;
  
 
 
  }
  .dropdown-item.active, .dropdown-item:active {
    background-color: var(--bg-color);
  }
 
  .avatar.domain-icon {
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $spacing-sm;
    border: 1px solid var(--bs-border-color);
    border-radius: 50%;
  
    h5 {
      color: var(--subtext);
    }
  }