.list-lg {
    li {
        border-bottom:  var( --bs-border-width) var( --bs-border-color);
      
        margin-bottom: $spacing-sm;
        transition: 0.4s;
        min-height: inherit;
        box-sizing: border-box;
        width: 100%;
        &:last-child {
            margin: 0;
        }
        &:hover {
            background-color: var(--bg-color);
        }
    }
    .read {
        font-weight: normal;
    }
    .unread {
        font-weight: bold;
    }
    i {
        font-size: 30px;
    }
    .user-dp {
        i {
        font-size: 40px;
        }
    }
.Problems {
    background: #1b4060;
    width: 50px;
    height: 50px;
    font-size: 0.7em;
    display: flex;
    border-radius: $round-md;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
   
}
.Problems.mild {
    background-color: var(--warning-color);
}
.Problems.moderate {
    background-color: var(--success-color);
}
.Problems.fatal {
    background-color: var(--info-color);
}
.Problems.unknown {
    background-color: var(--error-color);
}


}
.waiting-list {
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    padding: 0;
    li {
        border-bottom:  var( --bs-border-width) var( --bs-border-color);
      
        margin-bottom: 0 !important;
        transition: 0.4s;
        min-height: inherit;
        box-sizing: border-box;
        width: 100%;
        &:last-child {
            margin: 0;
        }
        &:hover {
            background-color: var(--bg-color);
        }
    }

 
   
.Problems {
    background: #1b4060;
    width: 50px;
    height: 50px;
    font-size: 0.7em;
    display: flex;
    border-radius: $round-md;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
   
}
.Problems.mild {
    background-color: var(--warning-color);
}
.Problems.moderate {
    background-color: var(--success-color);
}
.Problems.fatal {
    background-color: var(--info-color);
}
.Problems.unknown {
    background-color: var(--error-color);
}


}
.messages-list {
   
    border: none;
    border-radius: $round-lg 0 0 $round-lg;
    border-right: var(--bs-border-width) var(--bs-border-color);
    height: 100%;
    max-height: 100%;
    margin-bottom: 0 !important;
    li {
        margin-bottom: 0 !important;
    }
    
}
