// Tags
.tag {
    width: auto;
    height: auto;
    position: relative;
    color: white;
    padding: 3px 5px;
    border-radius: $round-sm 0 $round-sm 0;
    text-transform: capitalize;
    margin-top: $spacing-sm;
    margin-right: $spacing-sm;
    font-size: 12px;
  
    &::before {
      content: "";
      position: absolute;
      right: -7px;
      bottom: 0;
      width: 0;
      height: 0;
    }
  
    @each $name, $color in $variants {
      &.#{$name} {
        background: $color;
        color: if(
          $name == light or $name == default,
          var(--subtext-color),
          if($name == dark, var(--bg-color), white)
        );
        font-size: $font-size-xs;
  
        &::before {
          border-left: 9px solid $color;
        }
      }
    }
  
  
  }