<div class="container">
    <div class="print-container container">
        <h6 class="section-header mb-3">My Health Clinic</h6>

        <table>

            <thead>
                <tr>
                    <th>Personal Info</th>

                    <th>Contact Info</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>
                        <p><strong>Patient Name : </strong>Jason</p>
                        <p><strong>DOB :</strong>14/07/1980</p>
                        <p><strong>Address :</strong>John Doe
                            1234 Elm Street
                            Springfield, IL 62704
                            USA</p>
                        <p><strong>Race</strong> Dark</p>

                    </td>

                    <td>
                        <p>
                            <span>
                                <strong>Home Phone :</strong>
                                0000000000
                            </span>
                        </p>
                        <p>
                            <span>
                                <strong>Work Phone :</strong>
                                0000000000
                            </span>
                        </p>
                        <p>
                            <span>
                                <strong>Cell Phone :</strong>
                                0000000000
                            </span>
                        </p>
                        <p>
                            <span>
                                <strong>Emergency Contact</strong>
                                000000000
                            </span>
                        </p>

                    </td>

                </tr>
            </tbody>
        </table>
        <table class="">
            <thead>
                <tr>
                    <th colspan="4">Vitals</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>
                            <strong>Weight: 82kg</strong>
                        </p>
                    </td>
                    <td>
                        <p>
                            <strong>Height: 5ft 9in</strong>
                        </p>
                    </td>
                    <td>
                        <p>
                            <strong>BMI: 27.98</strong>
                        </p>
                    </td>
                    <td>
                        <p>
                            <strong>Temprature: 100f</strong>
                        </p>
                    </td>

                </tr>
            </tbody>
        </table>
        <div class="section-header">
            Vitals
        </div>
        <table class="">
            <thead>
                <tr>


                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>
                        <p>
                            <strong>Weight: 82kg</strong>
                        </p>
                    </td>
                    <td>
                        <p>
                            <strong>Height: 5ft 9in</strong>
                        </p>
                    </td>
                    <td>
                        <p>
                            <strong>BMI: 27.98</strong>
                        </p>
                    </td>
                    <td>
                        <p>
                            <strong>Temprature: 100f</strong>
                        </p>
                    </td>

                </tr>
            </tbody>
        </table>
        <div class="section-header">
            Problem List
        </div>
        <table class="">
            <thead>
                <tr>
                    <th>Date </th>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Comments</th>

                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>
                        05/11/1960
                    </td>
                    <td>
                        88805009
                    </td>
                    <td>
                        Chronic congestive heart failure<br /> (disorder) (Primary Diagnose)
                    </td>
                    <td>
                        Temprature: 100f
                    </td>
                </tr>

                <tr>

                    <td>
                        05/11/1960
                    </td>
                    <td>
                        88805009
                    </td>
                    <td>
                        Chronic congestive heart failure<br /> (disorder) (Primary Diagnose)
                    </td>
                    <td>
                        Temprature: 100f
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="mini-header">
            Current Probelms
        </div>
        <table class="">
            <p class="text-center">
                No Record Found
            </p>
        </table>
        <div class="section-header">
            Immunizations / Injections
        </div>

        <div class="mini-header">
            Current Immunizations
        </div>
        <table class="">
            <thead>
                <tr>
                    <th>Date </th>
                    <th>Vaccine</th>
                    <th>Type</th>


                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>
                        05/11/1960
                    </td>
                    <td>
                        88805009
                    </td>
                    <td>
                        Influenza, seasonal, injectable, preservative <br /> free (AFLURIA, P-free CVX:140)
                    </td>
                    <td>
                        Administered
                    </td>
                </tr>
                <tr>

                    <td>
                        05/11/1960
                    </td>
                    <td>
                        88805009
                    </td>
                    <td>
                        Influenza, seasonal, injectable, preservative <br /> free (AFLURIA, P-free CVX:140)
                    </td>
                    <td>
                        Administered
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="mini-header">
            Other Immunizations
        </div>
        <table class="">
            <thead>
                <tr>
                    <th>Date </th>
                    <th>Vaccine</th>
                    <th>Type</th>


                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>
                        05/11/1960
                    </td>
                    <td>
                        88805009
                    </td>
                    <td>
                        Influenza, seasonal, injectable, preservative <br /> free (AFLURIA, P-free CVX:140)
                    </td>
                    <td>
                        Administered
                    </td>
                </tr>
                <tr>

                    <td>
                        05/11/1960
                    </td>
                    <td>
                        88805009
                    </td>
                    <td>
                        Influenza, seasonal, injectable, preservative <br /> free (AFLURIA, P-free CVX:140)
                    </td>
                    <td>
                        Administered
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="section-header">
            Allergies List
        </div>
        <table class="">
            <thead>
                <tr>
                    <th>Date </th>
                    <th>Allergy</th>
                    <th>Concept Type</th>
                    <th>Severity</th>

                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>
                        10/14/1940
                    </td>
                    <td>
                        ALLERGY TO GRASS POLLEN (DISORDER)
                    </td>
                    <td></td>
                    <td>
                        MILD
                    </td>

                </tr>
                <tr>

                    <td>
                        10/14/1940
                    </td>
                    <td>
                        ALLERGY TO GRASS POLLEN (DISORDER)
                    </td>
                    <td></td>
                    <td>
                        MILD
                    </td>

                </tr>


            </tbody>
        </table>
        <div class="section-header">
            Medications
        </div>
        <table class="">
            <div class="text-center">
                No Record Found
            </div>
        </table>

        <div class="buttons mt-4">
            <button type="button" class="btn btn-outline-primary">Cancel</button>
            <button type="button" class="btn btn-outline-success" (click)="printPage()">Print</button>
        </div>
    </div>
</div>