<div class="mb-4">
  <div class="logo mb-3">
  </div>
  <h2 class="text-center">Welcome</h2>
  <p class="description text-center">
    Please check in to let Dr. dewerd know you are here.</p>
</div>
<app-video-call></app-video-call>
<div class="buttons flex-column mt-3">
  <button type="button" class="btn btn-lg icon-success"><i class="icon-video-off"></i>Test Audio</button>

</div>
<div class="input-group mt-3">
  <input type="text" class="form-control" [value]="'Jasont Dewerd'"  />
</div>
<div class="buttons mt-3">
  <a href="/user-access" class="btn btn-lg secondary"><i class="icon-checkin"></i>checkin</a>
</div>