.main-container {
    display: flex;
}
.left-panel {
    flex: 0 0 25%;
    max-width: 25%;
}
.mid-panel {
   width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.right-panel {
    flex: 0 0 25%;
    border: var( --bs-border-color); 
    max-width: 25%;
}
.footer {
   display: flex;
   position: absolute;
   z-index: 99;
   bottom: 0;
   right: 25%;
   .badge {
right: 0;
  width: 20px;
  height: 20px;
   }
  .btn {
    border: none !important;

    i {
      color: white;
      font-size: 20px;
    }
  }
}