
.container-fluid {
    padding: 0;
}
.tab-panel {
    display: none ;
    opacity: 0;
}
.tab-panel.active {
    display: block;
    opacity: 9;
}

.tab-content {
    padding:  0;
}
.main-container {
    padding:  $spacing-md;
box-sizing: border-box;
    max-height: 100%;
    height: 100%;
    overflow-y: auto;
    @include mobile-view {
        max-height: inherit;
        
    }
  
    
}
.dr-room {
    height: 100%;
    position: relative;
    padding: $spacing-md !important;
    box-sizing: border-box;
    
  
}
.content-panel {
    padding: 0 !important;
}
main {
    position: relative;

    padding:0 ;
    padding-right: 0;
    width: 100%;
    
}