


body {
    font-family: 'Poppins';   
}
i {
    color: var(--icon-color);
}
p {
    font-size: 12px;
    color:var(--text-color);
    span {
        color: var(--subtext-color);
    }
}
.user-dropdown {
    color: var(--text-color);
}


/* For Webkit Browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    height: 8px; /* Height for horizontal scroll */
   position: absolute;
   left: 0;

  }
  
  ::-webkit-scrollbar-track {
    background: var(--bg-color); /* Track color */
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--prim-color); /* Scrollbar handle color */
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--prim-color);
  }
  
* {
    box-sizing: border-box;
}

.profile-tile {
  display: flex;
  align-items: center;
 justify-content: flex-start;
 text-decoration: none;
 gap: $spacing-sm;
 .profile-details {
   margin-top: 0;
 }

h5 {
 font-size: 0.8rem;
 p {
   font-size: 0.7;
   color: var(--subtext-color);
 }
}

}
.profile-tile.fill {
  background: var(--bg-color);
  padding: $spacing-sm;
  border-radius: $round-md;
}
.profile-tile.profile-tile-v {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.avatar {
 border-radius: $avatar-round;

 position: relative;
 margin: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.avatar.avatar-lg {
  width: $avatar-lg;
  height: $avatar-lg;
}
.avatar.avatar-md {
  width: $avatar-md;
  height: $avatar-md;
  
  
}

.avatar.avatar-sm {
  width: $avatar-sm;
  height: $avatar-sm;
}
.alert-sign {
  position: absolute;
  right: 50%;
  margin-right: -$avatar-lg;
  z-index: 9;
.icon-warning {
  color: var(--error-color);
  text-shadow: 0 0 10px var(--error-color);
  font-size: $font-size-large;
}
}