@import 'reset';
@import 'components/call.scss';
@import 'variables';
@import 'global';
@import 'icons';
@import 'header';
//components

@import 'components/list';
@import 'components/buttons';


// shares

@import 'shared/card';

@import '_main-stuctue';
.call-container {
  max-height: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dropdown-menu {
  li a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: $spacing-md;
  }
}
.avatar {
   


   background-color: rgba(255, 255, 255, 0.3);
    width: $avatar-lg;
    height: $avatar-lg;
position: relative;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .icon {
      font-size: 50px;
    }
    .name {
font-size: 40px;
text-transform: uppercase;
font-weight: bold;
    }
    .badge {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  
}
img {
    image-rendering: crisp-edges; /* Standard */
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -webkit-optimize-contrast; /* Safari (old) */
    image-rendering: pixelated; /* Most modern browsers */
}
strong {
    font-weight: 500;
    
}
body {
    margin: 0;
    padding: 0;
    background-image: url(../images/main-bg.jpg);
    background-size: cover;
   

}
html {
    width: 100%;
}
* {
    transition: 0.4s;
    box-sizing: border-box;
}
.content-panel {
    display: flex;
    height: 100vh;
    box-sizing: border-box;
    padding: $spacing-md 0;
    @include mobile-view {
        display: inherit;
       padding-top: $header-height-mobile;
    }
}


.logo {
    width: 100%;
    height: 80px;
    background-image: var(--logo-light);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.4s !important;
    @include mobile-view {
    background-image: var(--logo-icon-light);
    }
}



.custom-row {
    display: flex;
    flex-wrap: wrap;
    
   
}
.video-footer {
  width: 600px;
  max-width: 100%;
  margin-top: $spacing-lg;
  .input-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .form-control,.form-select {
    border: 1px solid var(--second-color);
    box-shadow: 0 0 8px var(--second-color);
    border-radius:$round-lg !important;
}
}
 .caption {
  color: var(--subtext-color);
  text-transform: uppercase;
 }  

    .doctor-room-container {
     
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      
        .video-box {
       background-color: var(--input-group-color);
       border: 1px solid var(--input-group-border);
       border-radius: $round-lg;
         
          position: relative;
          margin-bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
      width: $video-box;
      height: $video-box;
          .icon-controls {
            position: absolute;
            top: 10px;
            display: flex;
            left: 10px;
            i {
              font-size: 18px;
              color: gray;
            }
      i.icon-mute-fill {
        color: var(--error-color);
      }
      i.icon-video-off-fill {
        color: var(--error-color);
      }
       
          }
     
        }
      
  
    
   
      
  
      
       
      }
      .input-group {
       
       
        .form-control {
            border: none;
            background-color: var(--card-color);
            color: var(--text-color);
        }
        .message-input {
            font-size: 12px;
              border: none;
              background:none;
              color: var(--text-color);
              &::placeholder {
                  color: var(--text-color);
              }
           
          }
    }
    .invite-link {
      display: flex;
      flex-wrap: nowrap;
      gap: 10px;
      padding: 20px 0;
    }
        .form-copy {
           border: 1px solid var(--second-color);
    box-shadow: 0 0 8px var(--second-color);
    border-radius:$round-lg !important;
    display: flex;
    justify-content: space-between;
    padding:0 10px;
    width: 100%;
    align-items: center;
            input {
                border: none;
                background:none;
                width: 100%;
                color: var(--text-color);
                padding: 10px ;
                &:focus {
                    outline: none;
                }
            }
            .btn {
             background: none;
             border: none;
              right: 0;
            }
        }