@import 'reset';

@import 'variables';
@import 'global';
@import 'icons';
@import 'header';
//components

@import 'components/list';
@import 'components/buttons';


// shares

@import 'shared/card';

@import '_main-stuctue';

img {
    image-rendering: crisp-edges; /* Standard */
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -webkit-optimize-contrast; /* Safari (old) */
    image-rendering: pixelated; /* Most modern browsers */
}
strong {
    font-weight: 500;
    
}
body {
    margin: 0;
    padding: 0;
    background-image: url(../images/main-bg.jpg);
    background-size: cover;
   

}
html {
    width: 100%;
}
* {
    transition: 0.4s;
    box-sizing: border-box;
}
.content-panel {
    display: flex;
    height: 100vh;
    box-sizing: border-box;
    padding: $spacing-md 0;
    @include mobile-view {
        display: inherit;
       padding-top: $header-height-mobile;
    }
}


.logo {
    width: 100%;
    height: 80px;
    background-image: var(--logo-light);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.4s !important;
    @include mobile-view {
    background-image: var(--logo-icon-light);
    }
}



.custom-row {
    display: flex;
    flex-wrap: wrap;
    
   
}
.video-footer {
  width: 600px;
  max-width: 100%;
  margin-top: $spacing-lg;
}
   

    .doctor-room-container {
     
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      
        .video-box {
       background-color: var(--input-group-color);
       border: 1px solid var(--input-group-border);
       border-radius: $round-lg;
         
          position: relative;
          margin-bottom: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
      width: $video-box;
      height: $video-box;
          .icon-controls {
            position: absolute;
            top: 10px;
            display: flex;
            left: 10px;
      i.icon-mute-fill {
        color: var(--error-color);
      }
      i.icon-video-off-fill {
        color: var(--error-color);
      }
       
          }
      
          .avatar {
            font-size: 60px;
           background-color: rgba(255, 255, 255, 0.6);
            width: 100px;
            height: 100px;
            margin: 0 auto;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      
  
    
   
      
  
      
       
      }
      .input-group {
        background:var(--input-group-color) !important;
        padding: $spacing-sm !important;
        border-radius: $round-md;
        border: 1px solid var(--input-group-border);
        .form-control {
            border: none;
            background-color: var(--card-color);
            color: var(--text-color);
        }
        .message-input {
            font-size: 12px;
              border: none;
              background:none;
              color: var(--text-color);
              &::placeholder {
                  color: var(--text-color);
              }
           
          }
    }