// Colors
:root {
 /* Dark mode variables */
 --prim-color: #243247;
 --title-color: #bccce2;
 --second-color: #1ae9f8;
 --bg-color: #1b1f22;
 --card-color: #161616;
 --text-color: #f5f5f5;
 --subtext-color: #aaaaaa;
 --success-color: #28a745;
 --warning-color: #ffc107;
 --error-color: #dc3545;
 --info-color: #17a2b8;
  --bs-border-color: #2e2e2e;
 --icon-color: #cccccc;
  // Vitals colors
  --bp-color: #ff6666; /* Red */
  --weight-color: #66cc99; /* Blue */
  --bmi-color: #27b5d1; /* Green */
  --height-color: #1c75bc; /* Purple */
  --temp-color: #8c94b7; /* Orange */
  --danger-color: #65161d;
  --normal-color: #253d2f;
  --low-color: #364160;
  --logo:url('../images/logo-light.png');
  --login_bg:url(../images/login-bg.jpg);
  }
  


[data-theme="dark"] {
    /* Light mode variables */
    --prim-color: #1b4060; /* Blue */
    --title-color: var(--prim-color);
    --second-color: #0066ff; /* Red */
    --bg-color: #f5f5f5; /* Light gray */
    --card-color: #ffffff; /* White */
    --text-color: #333333; /* Dark gray */
    --subtext-color: #9c9c9c; /* Lighter gray */
    --success-color: #28a745; /* Green */
    --warning-color: #ff6406; /* Yellow */
    --error-color: #dc3545; /* Red */
    --info-color: #17a2b8; /* Cyan */
     --bs-border-color: #e0e0e0; /* Light gray */
     --bs-border-width:  1px solid; /* Light gray */
    --icon-color: #888888; /* Icon color */
    // Vitals colors
    --bp-color: #ff6666; /* Red */
    --weight-color: #66cc99; /* Blue */
    --bmi-color: #27b5d1; /* Green */
    --height-color: #1c75bc; /* Purple */
    --temp-color: #8c94b7; /* Orange */
    --danger-color: #ffecec;
    --normal-color: #e6fff3;
    --low-color: #e3faff;
    --logo:url('../images/logo.png');
    --bs-nav-link-hover-color:var(--second-color);

 

  }



// Typography
$font-family-primary: 'Arial, sans-serif'; // Main font family
$font-size-bs: 16px; // Base font size
$font-size-xs: 12px; // Small text
$font-size-small: 14px; // Small text
$font-size-large: 18px; // Large text
$font-weight-regular: 400; // Regular font weight
$font-weight-bold: 700; // Bold font weight

// Spacing
$spacing-xs: 4px; // Extra small spacing
$spacing-sm: 8px; // Small spacing
$spacing-md: 16px; // Medium spacing
$spacing-lg: 24px; // Large spacing
$spacing-xl: 32px; // Extra large spacing

// Border Radius
$round-sm: 5px; // Small border radius
$round-md: 10px; // Medium border radius
$round-lg: 15px; // Large border radius
$round-xl: 50px; // Large border radius

// Shadows
$box-shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1); // Small shadow
$box-shadow-md: 0 4px 8px rgba(0, 0, 0, 0.1); // Medium shadow
$box-shadow-lg: 0 8px 16px rgba(0, 0, 0, 0.1); // Large shadow

// Z-index
$z-index-header: 1000; // Header
$z-index-overlay: 1050; // Modal overlay
$z-index-tooltip: 1100; // Tooltips

// Layout Breakpoints
$breakpoint-xs: 480px; // Extra small devices
$breakpoint-sm: 768px; // Small devices
$breakpoint-md: 992px; // Medium devices
$breakpoint-lg: 1200px; // Large devices

// Misc
$transition-duration: 0.3s; // Default transition duration
$transition-ease: ease-in-out; // Default easing function
$icon-size: 24px; // Default icon size

//sizes {
$header-height:65px;
$header-height-mobile:70px;
$chart-height:267px;
$bs-modal-width: 700px;

//sizes
$avatar-lg:80px;
$avatar-md:40px;
$avatar-sm:30px;
$avatar-round:50%;
$card-header-height:50px;
//mixins
@mixin box-style{
  border:  var( --bs-border-width) var( --bs-border-color);
  box-shadow: $box-shadow-md;
  border-radius: $round-lg;
  background-color: var(--card-color) !important;
}
@mixin mobile-view {
  @media (max-width: 768px) {
    @content;
  }
}