// Colors
:root {
 /* Dark mode variables */
 --prim-color: #243247;
 --title-color: #bccce2;
 --your-color: #1a2433;
 --second-color: #1c75bc;
 --bg-color: #1b1f22;
 --card-color: rgba(18,30,50, 0.7);
 --input-group-color: rgba(255, 255, 255, 0.2);
 --input-group-border: rgba(255, 255, 255, 0.2);
 --text-color: #f5f5f5;
 --chat-color: #f5f5f5;
 --subtext-color: #dff1ff;
 --success-color: #66cc99;
 --warning-color: #ffc107;
 --error-color: #f67280;
 --info-color: #1742b8;
  --bs-border-color: #1f3b68;
 --icon-color: #cccccc;
  // Vitals colors
  --name-color:#a9bbd8;
  --logo:url('../images/logo.png');
  --logo-icon:url('../images/logo-icon.png');
  --logo-light:url('../images/logo-light.png');
  --logo-icon-light:url('../images/logo-icon-light.png');
  
  --arrow-img: url('../images/arrow.png') !important;

  }
  


[data-theme="dark"] {
 



  }


  

// Typography
$font-family-primary: 'Arial, sans-serif'; // Main font family
$font-size-bs: 16px; // Base font size
$font-size-xs: 12px; // Small text
$font-size-small: 14px; // Small text
$font-size-large: 18px; // Large text
$font-weight-regular: 400; // Regular font weight
$font-weight-bold: 700; // Bold font weight

// Spacing
$spacing-xs: 4px; // Extra small spacing
$spacing-sm: 8px; // Small spacing
$spacing-md: 16px; // Medium spacing
$spacing-lg: 24px; // Large spacing
$spacing-xl: 32px; // Extra large spacing

// Border Radius
$round-sm: 5px; // Small border radius
$round-md: 10px; // Medium border radius
$round-lg: 15px; // Large border radius
$round-xl: 50px; // Large border radius

// Shadows
$box-shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1); // Small shadow
$box-shadow-md: 0 4px 8px rgba(0, 0, 0, 0.1); // Medium shadow
$box-shadow-lg: 0 8px 16px rgba(0, 0, 0, 0.1); // Large shadow

// Z-index
$z-index-header: 1000; // Header
$z-index-overlay: 1050; // Modal overlay
$z-index-tooltip: 1100; // Tooltips

// Layout Breakpoints
$breakpoint-xs: 480px; // Extra small devices
$breakpoint-sm: 768px; // Small devices
$breakpoint-md: 992px; // Medium devices
$breakpoint-lg: 1200px; // Large devices

// Misc
$transition-duration: 0.3s; // Default transition duration
$transition-ease: ease-in-out; // Default easing function
$icon-size: 24px; // Default icon size

//sizes {
$header-height:65px;
$header-height-mobile:70px;
$chart-height:267px;
$bs-modal-width: 700px;

//sizes
$avatar-lg:120px;
$avatar-md:40px;
$avatar-sm:30px;
$avatar-round:50%;
$card-header-height:50px;

// Color Palette
$primary-color: #007bff;
$secondary-color: #6c757d;
$danger-color: #dc3545;
$ghost-color: transparent;
$white: #fff;
$black: #000;
$gray-light: #f8f9fa;
$border-color: #dee2e6;

// Padding & Border
$btn-padding: 0.5rem 1.25rem;
$btn-radius: 6px;

// Font
$btn-font-size: 1rem;
$btn-font-weight: 500;
$video-box:320px;
//mixins

@mixin mobile-view {
  @media (max-width: 768px) {
    @content;
  }
}