<div class="w-100">
<div class="logo"></div>
<div class="card p-4 mb-2">
  <span class="caption">RECEPTION</span>
<h3>Welcome to Dr. dewerd's Waiting Room</h3>
<p> Dr. dewerd can see that you have checked in and will start your call shortly. While you are waiting, we invite you to review the information below.</p>
</div>
<div class="card p-4 mb-2">
  <span class="caption">GOOD TO KNOW</span>
<h3>For an optimal call experience, please do the following:</h3>
<ul class="list orderd-list">
  <!-- Tip 1 -->
  <li class="card mb-2" >
    <div class="badge bg-primary rounded-circle me-3" style="width: 30px; height: 30px; display: flex; align-items: center; justify-content: center;">1</div>
    <div>
      <p class="mb-0">
        If you're using a phone, please <strong>turn on Do Not Disturb/Focus mode</strong> to prevent incoming texts and calls from disrupting the call.
      </p>
    </div>
  </li>

  <!-- Tip 2 -->
  <li class="card mb-2">
    <div class="badge bg-primary rounded-circle me-3" style="width: 30px; height: 30px; display: flex; align-items: center; justify-content: center;">2</div>
    <div>
      <p class="mb-1">
        <strong>Confirm your video and microphone are working.</strong>
      </p>
      <ol class="mb-0 ps-3">
        <li>You should see your video and a green sound indicator when you talk.</li>
        <li>
          If they are not working, please
          <a href="#">refresh your browser</a> or restart your device, then check in again.
        </li>
      </ol>
    </div>
  </li>
</ul>

</div>
</div>



 
