<div class="tab-content p-0" >
<div class="row p-2">
  <div class="col-md-3 vital-list">
    <ul class="nav nav-pills vital-tabs" id="vitalTabs" role="tablist">
      <li class="nav-item" role="presentation" *ngFor="let tab of tabs; let i = index">
        <a
          class="nav-link {{ tabColors[tab.name] }}"
          [ngClass]="{ active: activeTab === tab }"
          [ngClass]="tabColors[tab.name]" 
          [style.borderColor]="tab.color" 
          id="tab-{{ i }}-tab"
          data-bs-toggle="pill"
          [attr.href]="'#tab-' + i"
          role="tab"
          (click)="selectTab(tab)"
        >
          <h5> {{ getLatestValue(tab) }}</h5>
          {{ tab.name }}:
        </a>
      </li>
    </ul>
  </div>
  
  <div class="col-md-9 vital-graph">
    <div class="tab-content p-0" id="vitalTabContent">
      <div
        *ngFor="let tab of tabs; let i = index"
        class="tab-panel fade"
        [ngClass]="{ show: activeTab === tab, active: activeTab === tab }"
        id="tab-{{ i }}"
        role="tabpanel"
      >
        <canvasjs-chart *ngIf="activeTab === tab" [options]="chartOptions" class="chart-container"></canvasjs-chart>
      </div>
    </div>
  </div>
</div>
