<div class="modal fade" id="dynamicModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ modalService.modalTitle }}</h5>
        <button type="button" class=" close-btn" data-bs-dismiss="modal" aria-label="Close"><i class="icon-close"></i></button>
      </div>
      <div class="modal-body">
        <ng-container *ngComponentOutlet="modalService.dynamicComponent"></ng-container>
      </div>
      <div class="modal-footer" *ngIf="showFooter">
        <div class="buttons">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="onModalApply()">
            {{ modalService.modalButtonText }}
          </button>
        </div>
      </div>      
    </div>
  </div>
</div>
