<app-card 
title="Attachments" 
icon="icon-attachement"
>
<div class="attachments-container">
  <ul class="list-lg p-0">
    <li *ngFor="let attachment of attachments; let i = index" class="d-flex justify-content-between">
      <div class="d-flex justify-content-left align-items-center gap-2">
        <div class="type">
          <i [ngClass]="'icon-' + attachment.type">
            <span class="path1"></span>
            <span class="path2"></span>
            <span class="path3"></span>
          </i>
        </div>
        <p>{{ attachment.name }}</p>
      </div>
  
    </li>
  </ul>
</div>
</app-card>
