<ul class=" ">
  <li *ngFor="let msg of waitingRoom; let i = index" class="card mb-3">
    <div class="d-flex justify-content-between align-items-center px-3 py-2" (click)="toggleChat(i)">
      <div class="d-flex align-items-center gap-3 readed">
        <div class="avatar-circle" [ngStyle]="{ backgroundColor: getStageColor(msg.stage) }">
          {{ getInitials(msg.name) }}
        </div>
        <div>
          <h6 class="name">{{ msg.name }}</h6>
          <p class="waiting-time" [ngStyle]="{ color: getStageTextColor(msg.stage) }">
            {{ msg.time }}
          </p>
        </div>
      </div>
      <div class="text-white">
        <i class="icon-angle-right"></i>
      </div>
    </div>

    <div class="accordion-collapse collapse" [ngClass]="{ show: expandedIndex === i }">
      <div class="accordion-body p-2">




        <div class="buttons mb-3">
          <button type="button" class="btn success"><i class="icon-audio"></i>start audio call</button>
          <button type="button" class="btn danger"><i class="icon-video"></i>start video call</button>
        </div>
        <div class="buttons mb-3">
          <button type="button" class="btn "><i class="icon-chat"></i></button>
          <button type="button" class="btn "><i class="icon-info"></i></button>
          <button type="button" class="btn "><i class="icon-sort"></i></button>
          <button type="button" class="btn "><i class="icon-delete"></i></button>
          <button type="button" class="btn "><i class="icon-history"></i></button>
        </div>
        <app-chat></app-chat>
      </div>
    </div>
  </li>
</ul>