<div class="doctor-room-container">
  <div class="video-box">
    <div class="icon-controls">
      <button class="btn" (click)="toggleAudio()">
        <i class="icon" [ngClass]="isAudioOn ? 'icon-mute-fill' : 'icon-audio'"></i>
      </button>
      <button class="btn" (click)="toggleVideo()">
        <i class="icon" [ngClass]="isVideoOn ? 'icon-video-off-fill' : 'icon-video'"></i>
      </button>
    </div>
    <div class="avatar">
      <i class="icon icon-admin"></i>
    </div>
  </div>


</div>
