<div class="row">
  <!-- Message List -->
  <div class="col-md-3 p-0">
    <ul class="list-lg p-0 messages-list">
      <li
       
        *ngFor="let msg of messagesList"
        (click)="selectMessage(msg)"
        style="cursor: pointer"
      >
      <div class="p-3">
        <div class="d-flex justify-content-left align-items-center gap-2">
          <user-icon class="user-dp" [type]="msg.iconType"></user-icon>
          <p [ngClass]="{ unread: msg.status === 'unread', read: msg.status === 'read' }">
            <span>{{ msg.name }}</span><br />
            {{ msg.message }}<br />
            <span>{{ msg.date }}</span>
          </p>
        </div>
        <app-chat></app-chat>
      </div>
      </li>
    </ul>
  </div>

  <!-- Chat View (Always Visible) -->
  <div class="col-md-9 p-0">
    <ng-container *ngIf="selectedMessage; else noMessage">
      <app-chat [message]="selectedMessage"></app-chat>
    </ng-container>

    <ng-template #noMessage>
      <div class="d-flex align-items-center justify-content-center h-100 text-muted">
        
      </div>
    </ng-template>
  </div>
</div>
