<app-card title="Allergies" icon="icon-allergy" [headerButtons]="headerButtons">
  <div *ngIf="activeTab === 'active'">
    <ul class="list-lg p-0">
      <li class="checkbox-wrapper d-flex justify-content-between" *ngFor="let allergy of activeAllergies; let i = index">
        <input class="inp-cbx" disabled [id]="'allergy-cbx-active-' + i" type="checkbox" style="display: none;"/>
        <label class="cbx" [for]="'allergy-cbx-active-' + i">
          <p>
            <svg width="12px" height="9px" viewBox="0 0 12 9">
              <polyline points="1 5 4 8 11 1"></polyline>
            </svg>
          </p>
          <p>
            <span>{{ allergy.name }}</span><br />
            <span class="tag" [ngClass]="getSeverityClass(allergy.severity)">{{ allergy.severity }}</span>
          </p>
        </label>
      </li>
    </ul>
  </div>

  <div *ngIf="activeTab === 'Resolved'">
    <ul class="list-lg p-0">
      <li class="checkbox-wrapper d-flex justify-content-between" *ngFor="let allergy of ResolvedAllergies; let i = index">
        <input class="inp-cbx" disabled [id]="'allergy-cbx-Resolved-' + i" type="checkbox" checked style="display: none;"/>
        <label class="cbx" [for]="'allergy-cbx-Resolved-' + i">
          <p>
            <svg width="12px" height="9px" viewBox="0 0 12 9">
              <polyline points="1 5 4 8 11 1"></polyline>
            </svg>
          </p>
          <p>
            <span>{{ allergy.name }}</span><br />
            <span class="tag" [ngClass]="getSeverityClass(allergy.severity)">{{ allergy.severity }}</span>
          </p>
        </label>
      </li>
    </ul>
  </div>
</app-card>
