
    <div class="d-flex align-items-center justify-content-between sub-header">  
      <div class="profile-card d-flex">
        <div class="profile-tile">
          <div class="avatar avatar-md">
            <img class="img-fluid" src="assets/dp1.jpg" alt="Profile Picture" onerror="this.onerror=null; this.nextElementSibling.style.display='block';">
          </div>
          <h5 class="">Inferno Bosco <p>Parent User</p></h5>
        </div>
        <div class="profile-details mt-0">
          <ul>
            <li><strong>PID:</strong> <br />#4274</li>
            <li><strong>Phone:</strong><br /> 123456987</li>
            <li><strong>Age:</strong><br /> 84y 9m 5d</li>
            <li><strong>Gender:</strong><br /> Male</li>
            <li><strong>DOB:</strong><br /> Mar 29, 1940</li>
            <li><strong>Address:</strong><br /> 1234 Test Avenue, Lowell MA, 01854</li>
          </ul>
        </div>
      </div>
      <app-chart class="ml-3 stand-alone-chart"></app-chart>
    </div>
      
 
 
