
    <div class="d-flex align-items-center justify-content-between sub-header">  
      <div class="profile-card d-flex">
        <div class="profile-tile">
          <div class="avatar avatar-md">
            <img class="img-fluid" src="assets/dp1.jpg" alt="Profile Picture" onerror="this.onerror=null; this.nextElementSibling.style.display='block';">
          </div>
          <h5 class="">{{pat_name}}<p>Parent User</p></h5>
        </div>
        <div class="profile-details mt-0">
          <ul>
            <li><strong>PID:</strong> <br />{{pat_id}}</li>
            <li><strong>Phone:</strong><br />{{pat_contact}}</li>
            <li><strong>Age:</strong><br />{{pat_age}}</li>
            <li><strong>Gender:</strong><br />{{pat_gender}}</li>
            <li><strong>DOB:</strong><br />{{pat_dob}}</li>
            <li><strong>Address:</strong><br />{{patient_address}}</li>
          </ul>
        </div>
      </div>
      <app-chart class="ml-3 stand-alone-chart"></app-chart>
    </div>
      
 
 
